body {
    font-family: sans-serif;
    background-color: white;
    color: black;
}


header {
    margin-top: 5vh;
    text-align: center;
}


main {
   margin-top: 5vh;
}



button{
    background-color: #337ab7;
    color: white;
    border: 2px solid #337ab7;
    border-radius: 7px;
}

button:active {
    background-color:white;
    color:#337ab7;
}

#controls {
    padding-top:5vh;
    text-align:center;

}

#controls .row {
    padding: 1vh 0;
}



#main-buttons {
    font-size:1.5em;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#startButton {
    font-size: 1.5em;
}

#main-buttons .slider {
    font-size:.75em;
}

#grid {
    background-color: white;
    margin: 0px auto;
    height: 90vh;
    max-width: 90%;
    padding: 2px;

}

.grid-row {
    overflow: auto;
}

.cell {
    margin: 0px;
    padding: 0px;
    border: 1px solid green;
    float:left;
}

.alive {
    background-color: black;
}
